// Create appsettings.json file
// and optionally: appsettings.Production.json, appsettings.Staging.json, appsettings.Development.json
//
// Set "Build Action"="Content"
// Set "Copy to output directory"="Copy if newer"
//
// Content:
{
  "DatabaseConfig": {
    "Type": "MSSQL",
    "TnsAdmin": "", //Oracle: Enter the directory where the tnsnames.ora and sqlnet.ora files are located
    "WalletLocation": "" //Oracle: Enter directory where wallet is stored locally
  },
  "ConnectionStrings": {
    "Default": "Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=AppNameDb;Integrated Security=True;",
    "DefaultOracle": "User Id=user;Password=pass;Data Source=dbname_high;"
  },
  "App": {
    "ServerRootAddress": "https://api.tt.mariuscosminciuca.tk/", // "http://localhost:21021/",
    "ClientRootAddress": "https://tt.mariuscosminciuca.tk/", // "http://localhost:3000/",
    "CorsOrigins": "http://localhost:4200,http://localhost:8080,http://localhost:8081,http://localhost:3000,https://tt.mariuscosminciuca.tk,https://tickettracker.netlify.app"
  },
  "Authentication": {
    "JwtBearer": {
      "IsEnabled": "true",
      "SecurityKey": "AppName_23498",
      "Issuer": "AppName",
      "Audience": "AppName"
    }
  },
  "Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "http://0.0.0.0:21021/"
      }
    }
  },

  "DbSeedValues": { // The seed is done at the first start, not at the update-database !
    "DefaultLanguage": "en",
    "Smtp": {
      "DefaultFromAddress": "user@gmail.com",
      "DefaultFromDisplayName": "no-reply user",

      "Host": "smtp.gmail.com",
      "Port": "587",
      "EnableSsl": "true",
      "UserName": "user@gmail.com",
      "Password": "pass",
      "UseDefaultCredentials": "false"
    }
  }
}